<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rickshaw/1.5.1/rickshaw.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.1.3/css/bootstrap-slider.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<!-- Latest compiled and minified JavaScript -->
  <script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
  <script src="https://npmcdn.com/axios/dist/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.1.3/bootstrap-slider.min.js"></script>
  <script src="{{ url_for('static', filename='vendor/d3.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/d3.layout.min.js') }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/rickshaw/1.5.1/rickshaw.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <meta charset="utf-8">
    <title>Anomaly Detector</title>
  </head>
  <body>
    <div class="container well well-lg">
      <div class="row">
        <div id="chart" style="width: 900px; height: 500px;"></div>
      </div>

  <form>
        <div class="row">
          <div class="col-md-8"></div>
          <div class="form-group">
          <div class="col-md-2 col-md--offset-2">

          <input  type="file"
            id="file"
            style="visibility:hidden; width: 1px;"
            id='${multipartFilePath}' name='${multipartFilePath}'
            onchange="$(this).parent().find('span').html($(this).val().replace('C:\\fakepath\\', ''))"  /> <!-- Chrome security returns 'C:\fakepath\'  -->
    <input class="btn btn-primary" type="button" value="Upload File.." onclick="$(this).parent().find('input[type=file]').click();"/> <!-- on button click fire the file click event -->
    &nbsp;
    <span  class="badge badge-important" ></span>
</span>
          </div>
        </div>
        <svg id="loader" class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
          <circle class="circle" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
        </svg>
        </div>

  </form>

    <!-- <div id="output" class="container"></div> -->
        <br>

        <div class="row">
          <div class="col-md-8"></div>
        <div class="form-group col-md-4">
          <select class="form-control" id="ip" name="list_ip">
            <option value="" disabled selected>Choose</option>
          </select>
       </div>
     </div>

      <div class="row">
        <div class="col-md-8"></div>
      <div class="form-group col-md-4">
        <select class="form-control" id="algo" name="list_algo">
          <option value="" disabled selected>Choose Algorithm</option>
          <option value="0">InterQuartile Range</option>
          <option value="1">Moving MAD</option>
          <option value="2">Moving Avg</option>
        </select>
     </div>
   </div>

    <form>
      <div class="row">
        <div class="col-md-8"></div>
          <div class="col-md-4">
            <!-- <input type="text" placeholder="parameter" id="param" name="param"/> -->
            <!-- <input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="5" data-slider-step=".5" data-slider-value="1"/>alpha -->
            <input type="range" name="rangeInput" min="0" max="10" step="0.5" onchange="updateTextInput1(this.value);">
            <input type="text" id="textInput1" value="" placeholder="alpha">
        </div>
      </div>

      <div class="row">
        <div class="col-md-8"></div>
          <div class="col-md-4">
            <input type="range" name="rangeInput" min="0" max="1000" step="1" onchange="updateTextInput2(this.value);">
            <input type="text" id="textInput2" value="" placeholder="window size">
      </div>
    </div>
      <br>

        <div class="row">
          <div class="col-md-8"></div>
          <div class="form-group col-md-2 col-md--offset-2">
            <button id="post" type="button" class="btn btn-default">Submit</button>
          </div>
        </div>
      </form>

    </div>
  </body>
</html>
<script src="{{ url_for('static', filename='app.js') }}"></script>
