<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rickshaw/1.5.1/rickshaw.min.css">
<!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<!-- Latest compiled and minified JavaScript -->
  <script   src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="   crossorigin="anonymous"></script>
  <!-- <script src="..static/vendor/d3.min.js"></script>
  <script src="..static/vendor/d3.layout.min.js"></script> -->
<!-- <script src="../rickshaw.min.js"></script> -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script src="https://npmcdn.com/axios/dist/axios.min.js"></script>
  <script src="{{ url_for('static', filename='vendor/d3.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/d3.layout.min.js') }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/rickshaw/1.5.1/rickshaw.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <meta charset="utf-8">
    <title>Anomaly Detector</title>
  </head>
  <body>
    <div class="container well well-lg">
  <form>
        <div class="row">
          <div id="chart"></div>
        </div>

        <br>

        <div class="row">
          <div class="col-md-8"></div>
          <div class="form-group">
          <div class="col-md-2 col-md--offset-2">

          <input  type="file"
            id="file"
            style="visibility:hidden; width: 1px;"
            id='${multipartFilePath}' name='${multipartFilePath}'
            onchange="$(this).parent().find('span').html($(this).val().replace('C:\\fakepath\\', ''))"  /> <!-- Chrome security returns 'C:\fakepath\'  -->
    <input class="btn btn-primary" type="button" value="Upload File.." onclick="$(this).parent().find('input[type=file]').click();"/> <!-- on button click fire the file click event -->
    &nbsp;
    <span  class="badge badge-important" ></span>
</span>
          </div>
        </div>
        <svg id="loader" class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg"><circle class="circle" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle></svg>
        </div>

  </form>

    <!-- <div id="output" class="container"></div> -->
        <br>

        <div class="row">
          <div class="col-md-8"></div>
        <div class="form-group col-md-4">
          <select class="form-control" id="ip" name="list_ip">
            <option value="" disabled selected>Choose</option>
          </select>
       </div>
     </div>

      <br>

      <form>
      <div class="row">
        <div class="col-md-8"></div>
          <div class="form-group col-md-4">
            <input type="text" placeholder="parameter" id="param" name="param"/>
        </div>
      </div>

      <br>

        <div class="row">
          <div class="col-md-8"></div>
          <div class="form-group col-md-2 col-md--offset-2">
            <button id="post" type="button" class="btn btn-default">Submit</button>
          </div>
        </div>
      </form>

    </div>
  </body>
</html>

<script>
document.getElementById('loader').style.visibility = "hidden";

//helper for dropdown
function initDropdownList( id, a) {
    var select, i, option;
    select = document.getElementById( id );
    for ( i = 0; i < a.length; i += 1 ) {
        option = document.createElement( 'option' );
        option.value = i
        option.text = a[i];
        select.add( option );
    }
}
//upload a file when user chooses it
document.getElementById("file").onchange = function() {

document.getElementById('loader').style.visibility = "visible";
var data = new FormData()
data.append('file', document.getElementById('file').files[0]);

//upload a file
axios.post('/upload', data)
      .then(function (res) {
        var filename = document.getElementById('file').files[0].name
        window.localStorage.setItem('current', filename);
        document.getElementById('loader').style.visibility = "hidden";

        //get list of ip's
        if(window.localStorage.getItem('current') != null){
        var filen = window.localStorage.getItem('current').split('.')
        axios.post('/listOfIp/'+filen[0]+'.csv')
             .then(function (res) {
               initDropdownList('ip',res.data.ip)
             })
             .catch(function (err) {
               toastr.error("Error occured in retrieving IP's");
             })

          }

        toastr.success('File uploaded')
      })
      .catch(function (err) {
        toastr.error("Error occured");
      })
}

document.getElementById('post').onclick = function () {
  var e = document.getElementById("ip");
  var selectedIp = e.options[e.selectedIndex].text;

  var param = document.getElementById('param').value;

  var filen = window.localStorage.getItem('current').split('.')

  var filename = filen[0]+".csv"
  var data = {
    ip : selectedIp,
    alpha : param,
    filename : filename
  }
  console.log(data)
    axios.post('/interq', data)
         .then(function(res) {
           console.log(res);
         })
         .catch(function(err) {
           console.log(err);
         })
  }

// var graph = new Rickshaw.Graph( {
//     element: document.querySelector("#chart"),
//     width: 300,
//     height: 200,
//     series: [{
//         color: 'steelblue',
//         data: [{ x: 0, y: 120 }, { x: 2, y: 38 }, { x: 3, y: 70 }, { x: 4, y: 32 }]
//     }]
// });
//
// graph.render();
</script>
